$color-git-light: #F0EFE7
$color-git-main: #F14E32
$color-git-secondary: #4E443C
$color-git-semi-light: #9A9994
$color-git-yellow: #CD9F00
$color-white: #FFF

$font-base: 16px
$font-small: $font-base / 1.1
$font-title: $font-base * 1.5
$font-large: $font-base * 3

$default-spacing: 16px
$header-height: 100px
$page-width: 1200px
$footer-height: 50px
